*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/assetWizardSettings.xml
/.idea/iconloadercache.xml
/.idea/navEditor.xml
/captures
.externalNativeBuild
.cxx
/build
**/build/
*.hprof
*.pyc
/bundle
/apk
